@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    font-family: "La Belle Aurore", serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
